/* Importa la fuente "Open Sans" desde Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Estilos para el contenedor principal del encabezado */
.header {
  background-color: #34495e; /* Color de fondo del encabezado */
  padding: 20px 0; /* Espaciado arriba y abajo */
}

/* Estilos para el contenedor interno del encabezado */
.container {
  display: flex; /* Utiliza flexbox para el diseño */
  justify-content: space-between; /* Distribuye el espacio entre los elementos hijos */
  align-items: center; /* Alinea los elementos hijos verticalmente al centro */
}

/* Estilos para la navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Estilos para los enlaces dentro de la navegación */
nav a {
  text-transform: uppercase; /* Transformar el texto a mayúsculas */
  color: white; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  padding: 0.5rem;
  flex: 1;
}

.management-links, .logout-link {
  display: none;
}

.management-links.visible, .logout-link.visible {
  display: block;
}

/* Estilos para el logo */
.logo {
  width: 100px; /* Ancho del logo */
  padding-left: 20px; /* Espaciado a la izquierda */
}